.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:blue;
    border: solid 3px;
    border-radius: 3%;
    align-items: center;
    min-height: 20vh;
    height:100%;
}

.div {
    align-items: center;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-bottom: 0.5rem;
}

.div span {
    
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    align-items: center;
        
    background: #cdcdcd;
    border-radius: 3px;
}

.nav a {
    margin-left: 1%;
    color: white;
    align-items: center;
}