.closedSideDrawer {
    height: 100%;
    width: 70%;
    transform: translateX(-100%);
    transition: transform 5.0s ease-out;
}

.openSideDrawer {
    transform: translateX(0);
    min-width: 70%;
    max-width: 70%;
    min-height: 57vh;
    height: 100%;
    border: solid 5px;
    transition: transform 5.0s ease-out;
    overflow-y: scroll;
}

.content {
    border: solid 5px;
    min-width: 70%;
    max-width: 70%;
    min-height: 57vh;
    height: 100%;
    overflow-y: auto;
}

.main {
    margin-bottom: 2hv;
    height: 100%;
    min-height: 60vh;
}

.div {
    min-height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-height: 20vh;
    min-width: 100%;
    background-color: gray;
}
